body{
    width: 99%;
}
#container{

    width: 200px;
    height: 600px;
    border: 1px solid black;
    position: absolute;
    top: 90px;
    left: 40px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px;
}
#container:hover{
    box-shadow: 5px 5px 5px;
}
#main1{
    width: 95%;
    height: 70px;
    
    position: absolute;
    left: 40px;}
.danger{
    position: absolute;
    top: 20px;
    left: 70px;
    text-align: center;
}
#close-btn{
    position: relative;
    left: 140px;
    top: -90px;
}
.material-icons-sharp{
    position: relative;
    top: 20px;
    left: 30px;
    font-size: 30px;
}
.text_dash{
    position: relative;
    top: -30px;
    left: 80px;
    font-size: 20px;
}
.message-count{
   
    width: 200px;
    height: 50px;
    border: 1px solid black;
    background-color: red;
}

  .message-count {
    position: absolute;
    top: -20px; /* adjust the position to your liking */
    right: 10px; /* adjust the position to your liking */
    font-size: 14px; /* adjust the font size to your liking */
    background-color: #fff; /* add a background color to make the count visible */
    padding: 2px 5px; /* add some padding to make the count more readable */
    border-radius: 50%; /* make the count circular */
  }
  
  .analyse{
    position: absolute;
    top: -5px;
    left: 230px;
  }
  
  #dark-rigth{
    position: relative;
    top: -70px;
    left: 1290px;
   
  }
#dark_mode{
    width: 40px;
    height: 30px;
    position: absolute;
    top: -30px;

  
}
#dark1{
    position: absolute;
    top: 0px;
    left: 5px;
}
#light1{
    position: absolute;
    top: 0px;
    left: 5px;
}
#ligth_mode{
    width: 40px;
    height: 30px;
    position: relative;
    top: -30px;
    left: 40px;
    
}
.material-icons-sharp{
 padding-top: -20px;}
 #body{
    width: 60%;
    height: 85%;
    position: absolute;
    top: 90px;
    left: 270px;
    border-radius: 20px;
    background-image: url(../img/OIP.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 20px black;
}
    #body:hover{
        box-shadow: 5px 5px 5px;
    }
 #user_name{
    width: 300px;
    height: 550px;
    border: 2px solid black;
   
    
    border-radius: 20px;
    display: none;
    margin-left: 10px;
    color: black;
  

 }
 #close_btn1{
    margin: 10px 0px 0px 450px;
    font-size: 25px;
    margin-left: 250px;
 }
 #close_btn2{
    margin: 10px 0px 0px 450px;
    font-size: 25px;
    margin-left: 600px;
 }
 #add_info{
    width: 665px;
    height: 680px;
    border: 2px solid black;
    border-radius: 20px;
    position: absolute;
    left: 350px;
    top: 0px;
   display: none;
   overflow-y: scroll;
   color: black;
   
}
.laber-text{
    font-size: 30px;
    margin-left: 20px;
}
.user-input1{
    width: 250px;
    height: 30px;
    margin-left: 20px;
    font-size: 30px;
    border-radius: 10px;
}

.name2{
    font-size: 30px;
    margin-left: 20px;
}
#note{
    margin-left: 20px;
     width: 90%; 
     overflow-y: scroll; 
     height: 480px;
     font-size: 30px;
}
.submit_docter{
    font-size: 30px;
    margin-left: 480px;
    margin-top: -20px;
}
#docter_add_info{
    font-size: 30px;
    width: 100px;
    margin-left: 170px;
    margin-top: 10px;
}
#right_body{
    width: 20%;
    height: 85%;
   
    border-radius: 20px;
    position: absolute;
    left: 1320px;
    top: 90px;
   

}
#logo_left{
   width: 150px;
   height: 150px;
   border-radius: 50%;
   margin-left: 90px;
   margin-top: 10px;
}
.text_rigth{
    text-align: center;
}
.user-profile{
    margin-top: 00px;
    border: 1px solid black;
    height: 270px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px black;
    
}
.user-profile:hover{
    box-shadow: 0px 0px 10px black;
}
#reminder{
    position: absolute;
    top: 290px;
    left: 250px;

   
}
#content{
    height: 80px;
    border: 1px solid black;
    position: absolute;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 20px black;
}
#content:hover{
    box-shadow: 0px 0px 10px black;
}

.text_muted{
    margin-left: 90px;
}
#more_vert{
    position: absolute;
    top: 30px;
    left: 300px;
    
}
#work_shop{
    height: 80px;
    border: 1px solid black;
 
    width: 100%;
    border-radius: 20px;
    position: absolute;
    top: 430px;
    box-shadow: 0px 0px 20px black;
}
#work_shop:hover{
    box-shadow: 0px 0px 10px black;
}
#remindernotify{
    height: 80px;
    border: 1px solid black;
    position: absolute;
    top: 530px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 20px black;
    
}

#remindernotify:hover{
    box-shadow: 0px 0px 10px black; 
}